server:
  port: 8080
spring:
  profiles:
    active: pro
  #  cache:
  #    type: redis
  #    redis:
  #      time-to-live: 60s
  datasource:
    url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
    driver-class-name: ${spring.datasource.driver-class-name}
    hikari:
      connection-timeout: ${spring.datasource.driver-class-name.hikari.connection-timeout}

  data:
    redis:
      host: ${spring.data.redis.host}
      port: ${spring.data.redis.port}
      password: ${spring.data.redis.password}
      connect-timeout: ${spring.data.redis.connect-timeout}
  rabbitmq:
    host: ${spring.rabbitmq.host}
    port: ${spring.rabbitmq.port}
    username: ${spring.rabbitmq.username}
    password: ${spring.rabbitmq.password}
    listener:
      simple:
        prefetch: ${spring.rabbitmq.listener.simple.prefetch}

#  main:
#    allow-circular-references: true

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.missuo.pojo.entity
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com:
      missuo:
        server:
          mapper: debug
          service: info
          controller: info

jwt:
  # Setting the secret key used for jwt signature encryption
  admin-secret-key: missuo
  # Setting the jwt expiration time
  admin-ttl: 7200000
  # Set the name of the token passed from the front end
  admin-token-name: token
  
  user-secret-key: missuo0o
  user-ttl: 7200000
  user-token-name: authentication

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.missuo.server.controller

knife4j:
  enable: true

alioss:
  endpoint: ${alioss.endpoint}
  access-key-id: ${alioss.access-key-id}
  access-key-secret: ${alioss.access-key-secret}
  bucket-name: ${alioss.bucket-name}

wechat:
  appid: ${wechat.appid}
  secret: ${wechat.secret}
  mchid: ${wechat.mchid}
  mchSerialNo: ${wechat.mchSerialNo}
  privateKeyFilePath: ${wechat.privateKeyFilePath}
  apiV3Key: ${wechat.apiV3Key}
  weChatPayCertFilePath: ${wechat.weChatPayCertFilePath}
  notifyUrl: ${wechat.notifyUrl}
  refundNotifyUrl: ${wechat.refundNotifyUrl}