<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.missuo.server.mapper.DishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.missuo.pojo.entity.Dish">
        insert into dish
        (name, category_id, price, image, description, status, create_time, update_time, create_user,
         update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>
</mapper>
